*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.banner
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#fff,#ffd6d6);
	display: flex;
	justify-content: center;
	align-items: center;
}


.banner img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
	background: radial-gradient(#fff,#ffd6d6);
}

.banner .content
{
	position: relative;
	max-width: 750px;
	text-align: center;
}

.banner .content h4
{
	color: black;
	font-size: 60px;
}

.banner .content p
{
	color: black;
	font-size: 18px;
}

.banner header
{
 	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

.banner header .logo
{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}




.aboutus
{
	position:relative;
	width: 100%;
	display: flex;
}

.aboutus .content1
{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}

.heading
{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.text1
{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

.imgPe
{
	background: url(img/window.jpg);
	width: 50%;
	background-size: cover;
	background-position: right;
}